$breakpoint-tablet: 768px;
.team-segment {
    padding: 0px !important;

    .header-container {
        padding: 15px;
        .header {
            display: flex;
            align-items: center;
        }
        .team-info-container {
            background-color: #ffffff;
            padding: 20px;
        }
    }

    .team-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px 10px;
        padding: 20px;

        @media (max-width: $breakpoint-tablet) {
            display: block;
            padding: 10px;
        }

        .team-card {
            background-color: white;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            width: 100%;
            padding: 16px;

            @media (max-width: $breakpoint-tablet) {
                margin: 10px 0;
            }

            .team-card-header {
                font-weight: 700;
                font-size: 1.28em;
            }

            .team-card-content {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
            }
        }
    }
}
