.App {
  text-align: center;
  min-height: 97vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.jumbotron {
  margin-bottom: 0;
}

.team-comparison {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-container {
  width: 50%;
  min-width: 400px;
  display: flex;
}

.team-dashboard {
  display: grid;
  grid-template-columns: 25fr 25fr 25fr 25fr;
  grid-template-rows: 33fr 33fr 33fr;
  height: 97vh;
}

.split-view-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.split-view-stat {
  width: 50%;
  min-width: 220px;
}

.points-text {
  margin-top: 20%;
}

.team-content-container {
  width: 100%;
  max-width: 700px;
  padding: 20px 5px 0px 5px;
}

@media only screen and (max-width: 600px) {
  .team-content-container {
    width: 100%;
    padding: 10px 0 0 50;
  }
}


.charts-and-trends-container {
  width: 100%;
  padding: 0 0 10px 0;
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
}

.welcome-header-container {
  padding-top: 30vh;
  display: flex;
  justify-content: center;
}

.welcome-header {
  background-color: #eeeeee;
  width: fit-content;
  padding: 30px 390px 10px 390px;
}

@media only screen and (max-width: 600px) {
  .welcome-header-container {
    padding-top: 10vh;
  }
  .welcome-header {
    width: 100%;
    padding: 30px 0 10px 0;
  }
}

h1 {
  font-family: 'Aldrich';
  font-style: italic;
}

.team-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #222222;
  background-color: #ffffff;
  border-bottom: 1px solid #555555;
  flex-wrap: wrap;
}

.stat-container {
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

.comparison-stat-container {
  width: 33%;
  margin: 5px 5px 0 5px;
  background-color: white;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .comparison-stat-container {
    width: 100%;
    margin: 5px 0 0 0;
  }
}

@media only screen and (min-width: 900px) {
  .comparison-stat-container {
    width: 455px;
  }
}

.team-select-dropdown {
  width: 200px;
  color: #000000;
  text-align: left;
}

.record-text {
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.record-text-in-chart {
  position: absolute;
  padding: 75px 51px;
}

.radial-chart-tooltip {
  background-color: #282c34;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: 5px solid #282c34;
  text-align: left;
  min-width: 120px;
}

.radial-chart-tooltip-name {
  font-size: 18px;
}

.radial-chart-tooltip-value {
  font-size: 24px;
}

.stat-title-container {
  width: 100%;
}

.credits-and-info-container {
  background-color: #ffffff;
  border-top: 1px solid #555555;
  width: 100%;
  text-align: center;
  height: 2vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
